.about{
    .heading{
        font-size: 5rem;
        padding: 10px;
        letter-spacing: -5px;
    }

    .about-me{
        display: flex;
      
        .content{
            width: 50%;
            height: 80vh;
            margin-top: 40px;
            
            .text{
                margin: 10px;
                font-size: 1.5rem;
            }
        }
        .image{
            width: 50%;
            height: 80vh;
            border-left: 0;
            overflow: hidden;
            border-left: 0;

            img{
                height: 100%;
                object-fit: contain;
                filter: grayscale(1);
                width: 100%;
                z-index: 5;
               

             
            }
            img:hover{
                filter: none;
            }
        }
    }
}

@media (max-width: 800px){
    .about{
        box-sizing: border-box;
        .heading{
            font-size: 5rem;
            padding: 10px;
        }
    
        .about-me{
            display: flex;
            flex-direction: column;

            .content{
                width: 100%;
            }

            .image{
                width: 100%;
                border-top: 0;
            }
        }
    }
}