.contact{
    .wrapper{
        min-height: 100vh;
    
    .heading{
        font-size: 5rem;
        letter-spacing: -5px;
        margin: 10px;
        margin-bottom: 30px;

    }

    .content{
        display: flex;

        .text{
           
            width: 50%;

            .text-container{
                margin: 10px;
                font-size: 1.5rem;
                width: 100%;
            }
        }
        .form{
            width: 50%;
        }
    }
}
}

@media (max-width: 800px){
    .contact{
        .heading{
            font-size: 5rem;
            letter-spacing: -5px;
            margin: 10px;
            margin-bottom: 30px;
    
        }
    
        .content{
            display: flex;
            flex-direction: column;
    
            .text{
                width: 100%;
    
                .text-container{
                    width: 100%;
                    margin: 10px;
                    font-size: 1.5rem;
                }
            }
            .form{
                width: 100%;
            }
        }
    }
}