.projects{
    color: #e5e5e5;

    .heading{
        font-size: 5rem;
        padding: 10px;
        letter-spacing: -5px;
    }

    .project-types{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
            
        .type{
            border-left: 1px solid #e5e5e5;
            font-size: 3rem;
            width: 100%;

            .type-container{
                margin: 10px;
            }
        }
        .type:hover{
            color: #0a0a0a;
            background-color: #e5e5e5;
            transition: all 500ms ease-in-out;
            
            .type-container{
                color: #0a0a0a;
                background: transparent;
            }
        }
    }

    .portfolio__container{
        display: grid;
        grid-template-columns: 50% 50%;

        .container{
            margin: 10px;
            border: 1px solid #e5e5e5;
            height: 80vh;

            .image{
                display: flex;
                height: 80%;
                text-align: center;

                img{
                    height: 40%;
                    margin: auto;
                }
            }
            .name{
                margin: 10px;
                font-size: 2rem;
            }
            .info{
                margin: 10px;
            }
        }
    }
}

@media (max-width: 800px){
    .projects{
        color: #e5e5e5;
    
        .project-types{
            display: flex;
            flex-wrap: wrap;
            margin-right: 0;
            border-bottom: 0;
                
            .type{
                border-bottom: 1px solid #e5e5e5;
                padding: 10px;
                font-size: 3rem;
                letter-spacing: -3px;
            }
            .type:hover{
                color: #0a0a0a;
                background-color: #e5e5e5;
                transition: all 500ms ease-in-out;
            }
        }
    
        .portfolio__container{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            .container{
                border: 1px solid #e5e5e5;
                height: 80vh;
                margin: 0;
                .image{
                    height: 80%;
                    background-color: #e5e5e5;
                }
                .name{
                    margin: 10px;
                    font-size: 2rem;
                }
                .info{
                    margin: 10px;
                }
            }
        }
    }
}