.banner{
    height: 100vh;
    text-align: left;
    width: 100vw;

    .main-text{
        font-size: 15rem;
        margin: 10px;
        letter-spacing: -13px;
    }

    .minor-text{
        font-size: 1.5rem;
        margin: 10px;
    }
}
@media (min-width: 300px) {
    .banner{
        height: 80vh;
        text-align: left;
        width: 100vw;
    
        .main-text{
            font-size: 110px;
            margin-top: 50px;
            letter-spacing: -6px;
        }
    
        .minor-text{
            font-size: 1.5rem;
            margin: 10px;
        }
    }
}